<div class='card'>
    <form (ngSubmit)="editBook()">
<div class='card-header'>
 Edit Product
</div>
<div class='card-body'>            
  <div class='table-responsive'>
    <table class='table'>       
    
      <tbody>  
          <tr>
              <td> <label>Name of the Book</label></td>
              <td><input type="text" name="p_id"  [(ngModel)]="bookItem.bookName"/></td>                  
            </tr>   
            <tr>
                <td><label>Author of the book</label></td>
                <td><input type="text" name="p_name" [(ngModel)]="bookItem.bookAuthor"/></td>                  
              </tr>  
              <tr>
                <td><label>Book Description</label></td>
                <td><input type="text" name="p_desc" [(ngModel)]="bookItem.description"/></td>                  
              </tr>  
              <tr>
                 <td><label>Book imageUrl</label></td>
                <td><input type="text" name="p_image" [(ngModel)]="bookItem.imageUrl"/></td>                  
              </tr>  
              <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>                  
              </tr>             
      </tbody>
    </table>
  </div>
</div>
</form>
</div>
