<!-- <div class="footer">
    <p>Created by Nima Anu Mathew</p>
</div> -->


<footer class="footer">
    <div class="container text-center">
        <!-- Facebook -->
<a style="color: #3b5998;" href="www.facebook.com/" target="_blank" role="button"
><i class="fab fa-facebook-f fa-lg"></i
></a>

<!-- Twitter -->
<a style="color: #55acee;" href="https://twitter.com/" role="button" target="_blank"
><i class="fab fa-twitter fa-lg"></i
></a>

<!-- Google -->
<a style="color: #dd4b39;" href="https://www.google.com/" target="_blank" role="button" 
><i class="fab fa-google fa-lg"></i
></a>

<!-- Instagram -->
<a style="color: #ac2bac;" href="https://www.instagram.com/" role="button" target="_blank"
><i class="fab fa-instagram fa-lg"></i
></a>
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.</p>
    </div>
</footer>
